.container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .activityArea {
    width: 100%;
    margin: auto;
  }

  .handContainer {
    width: 90%;
    margin: auto;
    margin-bottom: 0;
  }
}