@import '../../../variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .cards {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 32vh;
  }
}