@import '../../../variables';

.box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: $red;
  border-radius: 5px;
  overflow: hidden;

  transition: all 0.2s ease-in-out;

  &.active {
    p:first-of-type {
      background: $blue;
    }
  }

  p {
    margin: 0;
    font-size: 1.4em;
    padding: 0.25em 0.75em 0.25em 0.75em;
    text-align: center;
    color: $white;

    &:first-of-type {
      font-family: $roboto;
    }

    &:nth-of-type(2) {
      border-top: 2px solid $white;
    }
  }
}