@import '../../variables';

.container {
  position: absolute;
  background: white;
  box-sizing: border-box;
  top: 0;
  width: 339px;
  height: 100%;
  padding: 0 0 5em 1em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  >div {
    display: flex;
    padding: 0.5em 1em;

    >div {
      padding-right: 1em;

      color: $darkGrey;
      font-family: $roboto;

      &:first-child {
        color: $red;
      }
    }

    // I've never heard of tables I guess
    .table {
      display: flex;
      flex-direction: column;

      >div {
        display: flex;
        flex-direction: column;

        padding-bottom: 1em;
        
        >div {
          display: flex;
          flex-direction: row;

          >div {
            padding-right: 1em;

            &:first-child {
              color: $red;
            }
          }
        }
      }
    }

    .hand {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      >div {
        width: 25%;
      }
    }
  }
}