@import '../../variables';

.card {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $light;
  height: 100%;
}

.textBox {
  font-family: $roboto;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 45px 0 -45px 0;
  flex-wrap: nowrap;
  text-align: center;

  h2 {
    margin: 0;
    font-size: 3em;
    color: $red;
    padding-bottom: 1em;
  }

  h1 {
    margin: 0;
    font-size: 3.5em;

    color: $darkGrey;

    a {
      transition: all .2s ease-in-out;
      text-decoration: none;
      color: $blue;
      border-bottom: 5px solid $darkGrey;

      &:hover {
        color: $darkGrey;
        border-bottom: 5px solid $blue;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .textBox h2 {
    //font-size: 2.5em;
  }
}