@import '../../../variables';

.table {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;

  >div { // cardWrapper div
    position: absolute;
    transform-origin: 50% 5%;
    margin-top: 240px;

    >img {
      &:hover {
        transform: scale(1) !important; // Override card scaling
      }
    }
  }
}