.wrapper {
  margin: 0 auto;
  width: 86%;
  padding: 90px 7% 0 7%;
  overflow: hidden;

  .container {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

      >div.cardContainer {

        transition: all .1s ease-in-out;
        transform-origin: center;
  
        &:not(:first-child) {
          margin-left: -40px;
        }

        // Card styling
        >div {
          position: relative;
          transition: all .1s ease-in-out;
          transform-origin: bottom center;

          &:hover {
            cursor: pointer;
            transform: scale(1.25);
            z-index: 99; // Bring card to top immediatelly to avoid awkward swapping
          }
        }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding-top: 50px;
  }
}