@import '../../variables';

.container {
  display: flex;
  flex-direction: column;

  h2 {
    font-family: $roboto;
    font-size: 2em;
    color: $darkGrey;
    margin: 0;
    padding: 1em;
    text-align: center;
    text-transform: capitalize;
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  >div {
    display: flex;
    padding: 1em;

    transition: transform .2s ease-in-out;

    >div:not(:first-child) {
      margin-left: -40px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &.inactive {
      filter: brightness(0.8);

      &:hover {
        cursor: not-allowed;
        transform: none;
      }
    }
  }
}