@import '../../variables';

.container {
  margin: 0 auto;
  height: 100vh;
  background-color: $white;

  >header {
    position: relative;
    width: 100%;
    height: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
      linear-gradient(135deg, $blue 21px, #0AB6FF 22px, #0AB6FF 24px,
        transparent 24px, transparent 67px, #0AB6FF 67px, #0AB6FF 69px,
          transparent 69px),
      linear-gradient(225deg, $blue 21px, #0AB6FF 22px, #0AB6FF 24px,
        transparent 24px, transparent 67px, #0AB6FF 67px, #0AB6FF 69px,
          transparent 69px) 0 64px; // Tiled background pattern

    background-color: $blue;
    background-size: 64px 128px;

    /* Shadow on bottom of header */
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 10px;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1) 40%, transparent);
    }

    >div {
      >h1 {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width: 1200px;
        font-size: 6em;
        color: $white;
        text-align: center;
      }
  
      >p {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width: 1200px;
        font-size: 2.5em;
        color: $white;
        text-align: center;
        font-family: $roboto;
  
        >span {
          color: $red;
          text-shadow: 0 0 2px $white;
          padding-right: 0.25em;
        }
      }
    }

    
  }

  >main {
    position: relative;
    width: 100%;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $white;

    .startButton {
      padding: 5px 8px;
      border-radius: 4px;
      transform: scale(4);
      background: $red;
      transition: all .2s ease-in-out;
      box-shadow: inset 0 0 1px #E9170C;

      span {
        font-family: $roboto;
        margin-left: 8px;
        color: white;
      }

      svg {
        transition: all .2s ease-in-out;
        color:white;
      }

      &:hover {
        transform: scale(5);

        svg {
          transform: scale(1.5);
        }
      }
    }
  }

  a {
    text-decoration: none;
  }
}