@import '../../variables';

$height: 60px;

.wrapper {
  width: 100%;
  height: $height;
  background: $white;
  border-bottom: 2px solid $blue;

  .container {
    margin: 0 auto;
    max-width: 1200px;
    line-height: $height;
  }
}

.logo {
  margin: 0;
  font-size: 2.8em;
  font-family: $roboto;
  display: inline-block;
  color: $red;

  .slogan {
    transition: opacity .75s ease-in-out;
    margin-left: 5px;
    padding-left: 5px;
    display: inline-block;
    font-size: 0.4em;
    opacity: 0.1;

    border-left: 2px solid $red;

    p {
      color: $darkGrey;
      line-height: 18px;
      margin: 0;
      padding: 0;
    }
  }

  &:hover {
    color: $blue;

    .slogan {
      opacity: 0.9;
    }
  }
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  float: right;

  li {
    a {
      display: block;

      font-size: 1.5em;
      font-family: $roboto;
      text-decoration: none;

      color: $blue;
      
      padding: 0 1em;

      &:hover {
        color: $red;
      }
    }
  }
}