$black: #070707;
$white: #EFF9F0;

$red: #F64740;
$green: #009B72;
$blue: #00AFF5;

$darkBlue: #054A91;
$lightGreen: #23CE6B;

$yellow: #F0A202;

$lato: 'Lato', sans-serif;
$roboto: 'Roboto Slab', serif;