$black: #070707;
$white: #F6F8FF;

$darkGrey: #474747;

$red: #F64740;
$green: #23CE6B;
$blue: #00AFF5;

$yellow: #FFD447; // TODO: find something better

$lato: 'Lato', sans-serif;
$roboto: 'Roboto Slab', serif;