$black: #070707;
$white: #F6F3EE;

$red: #F86863;
$blue: #1FBCFF;

$darkGrey: #474747;
$lightBlue: #99E0FF;

$translucentWhite: rgba(255, 255, 255, 0.5);

$lato: 'Lato', sans-serif;
$roboto: 'Roboto Slab', serif;