.cardWrapper {
    position: relative;

    &:hover {
        cursor: pointer;
    }

    .card {
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
        transition: all .1s ease-in-out;
        &:hover {
            transform-origin: bottom right;
            transform: scale(1.25);
        }
    }
    
}
