.cardWrapper {
    position: relative;

    &:hover {
        cursor: pointer;
        z-index: 1337;
    }

    .card {
        &:hover {
            transform-origin: bottom center;
            transform: scale(1.2);
        }
    }
    
}
