@import './variables';

.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: $translucentWhite;
  border-radius: 5px;

  overflow: hidden; // Otherwise input background overflows and fucks up border-radius

  display: flex;
  flex-direction: column;

  .history {

    overflow-y: auto;
    padding: 0.25em;

    >div {
      display: flex;
      flex-direction: row;

      >p, >span {
        margin: 0;
        padding: 0.3em 0.2em;
        font-size: 1.2em;
      }

      >p {
        color: $darkGrey;
        font-weight: 400;
      }

      >span {
        font-weight: 700;
        color: $darkGrey;
      }
    }
  }

  >.inputRow {
    position: relative;
    margin-top: auto; // Stick to bottom
    padding-top: 1px;
    
    &::before {
      /* Transparent "border-top" */
      content: '';
      z-index: 100;
      position: absolute;
      background:rgba(0, 0, 0, 0.3);
      top: 0;
      width: 100%;
      height: 1px;
    }

    input {
      position: relative;
      border: none;
      background: rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      width: 100%;
      padding: 0.25em;
      font-size: 1.2em;
      font-weight: 400;
      color: $black;
      font-family: $roboto;

      &::placeholder {
        color: $black;
      }
    }
  }
}