
.hand {
    width: 100%;
    position: absolute;
    bottom: -50px;

    .container {
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    
    // Prevent selection of cards aka that blue overlay thing
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    div:not(:first-child) {
        margin-left: -40px;
    }
}