.header {
    font-size: 4vh;
    text-align: center;
}


.wrapper {
    padding: 30px;
    margin: 0px;

    font-size: larger;

    display: flex;
    flex-direction: row;
}

.scoreWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px; 
    margin: 10px;

    div {
        text-align: center;
    }
}