.wrapper {
    display: flex;
    flex-direction: row;
}


.cardGroup {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px black;
    }

}


.selected {
    border: 2px solid black;
    color: black;
    .card {
        padding: 10px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 5px;
    }
}

.notselected {
    border: 2px solid gray;
    color: gray;
    .card {
        padding: 10px;
        margin: 10px;
        border: 2px solid gray;
        border-radius: 5px;
    }
}




