@import '../../variables';

.lobbyContainer {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 3em;

  >div {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .lobbyContainer {
    flex-wrap: wrap;

    >div {
      margin-right: 0;
      flex: calc(50% - 10px);

      &:nth-child(2n + 1) {
        margin-right: 10px;
      }
    }
  }
}