$black:    #000000;
$white:    #FFFFFF;
$blue:     #25CED1;
$grey:     #FCEADE;
$darkGrey: #323031;
$orange:   #FF8A5B;
$magento:  #EA526F;
$red:      #DB3A34;

$lato: 'Lato', sans-serif;
$roboto: 'Roboto Slab', serif;

$fontSizeSmall:   16px;
$fontSizeRegular: 18px;
$fontSizeLarge:   24px;
$fontSizeXL:      30px;
$fontSizeXXL:     36px;

$marginSmall:   8px;
$marginDefault: 16px;
$marginLarge:   24px;
$marginXL:      30px;
$marginXXL:     40px;

$screenSmall: 576px;
$screenMedium: 768px;
$screen-lg: 992px;
