
.hand {
    margin: 0 auto;
    width: 90%; // Prevent left/right most cards from going off-screen (even when not hovered)

    .wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    
    // Prevent selection of cards aka that blue overlay thing
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    div:not(:first-child) {
        margin-left: -40px;
    }
}