@import '../../variables';

/*

  This is whacky and copy pastes styles from PlayerCard.....

  Should do for now, anyways

*/

.container {
  width: 100%;
  padding-bottom: 2em;

  .form {
    position: relative;
    width: 100%;
    display: table;
    background: $white;
    border-bottom: 2px solid $darkGrey;
  
    transition: background-color .2s ease-in-out;

    input, div {
      display: table-cell;
    }
  
    input {
      transition: all .2s ease-in-out;
      margin: 0;
      padding: 1em;
      font-size: 1.5em;
      font-family: $roboto;
      letter-spacing: 1px;
  
      outline: none;
      border: none;

      color: $darkGrey;
      width: calc(100% - 2em);
    }

    div {
      position: relative;
      width: 4px;
      height: 50px;
  
      transition: all .3s ease-in-out;
    
      &.active {
        background: $blue;
        width: 140px;
        cursor: pointer;
        
        &::before {
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          font-size: 1.5em;
          top: 50%;
          margin-top: -0.5em;
          font-family: $roboto;
          color: $light;
          position: absolute;
          content: 'Prijava'
        }
      }
  
      &.inactive {
        background: $red;
      }
    }
  }
}